* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.hero {
  background-image: linear-gradient(
      120deg,
      hsla(184, 82%, 33%, 0.694) 0%,
      hsla(215, 90%, 23%, 0.68) 100%
    ),
    url("../img/header.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.textos-hero {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-hero h1 {
  font-size: 60px;
}

.textos-hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.textos-hero a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: darkblue;
  border-radius: 8px;
  color: #fff;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}

.contenedor {
  padding: 80px 0;
}

.titulo {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.titulo.left {
  text-align: left;
}

.titulo.rigth {
  text-align: right;
}

/* Section */

.website {
  display: flex;
  justify-content: space-between;
}

.website img {
  width: 48%;
}

.website .contenedor-textos-main {
  width: 40%;
}

.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background-color: darkblue;
  color: #fff;
  padding: 12px 15px;
  border-radius: 8px;
}

/* Info */

.info {
  background: #031059;
  color: #fff;
}

/* Cards */

.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

.card:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.card i {
  margin: 30px 0 20px 0;
  color: #031059;
  font-size: 50px;
}

.card p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

/* footer */

footer {
  background: #031059;
  color: #fff;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 20px 10px;
}

.input::placeholder {
  color: #fff;
  font-family: "raleway", "sans-serif";
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: darkblue;
  background: #fff;
}

@media screen and (max-width: 800px) {
  .textos-hero h1 {
    text-align: center;
    font-size: 50px;
  }

  .titulo {
    font-size: 35px;
  }

  .titulo.left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  /* section */

  .website {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .website img {
    width: 100%;
  }

  .website .contenedor-textos-main {
    width: 100%;
  }

  /* Cards */

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  /* Last */

  .last-section img {
    width: 98%;
  }

  .last-section .contenedor-textos-main {
    width: 98%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .titulo,
  .textos-hero h1 {
    font-size: 30px;
  }

  .textos-hero p {
    font-size: 20px;
    text-align: center;
  }
  .website .contenedor-textos-main {
    margin-bottom: 30px;
  }

  .card {
    height: 380px;
  }
}

.icons a {
  font-size: 40px;
  margin: 10px;
  color: #fff;
}

.icons {
  text-align: center;
}

.icons a:hover {
  color: #65baeb;
}

/* botones */
.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 11px;
  margin: 1em 0.8em;
  align-content: center;
}
.button.type1 {
  color: #566473;
}
.button.type1.type1::after,
.button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.button.type1.type1:hover:after,
.button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

/* tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  cursor: default;
  
}

.tag::before {
  background: black;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #031059;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #65baeb;
  color: white;
}

.tag:hover::after {
   border-left-color: #65baeb; 
}